{{define "layout"}}
<html >
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
    <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/static/auth/css/style.css">
    <title>Registration</title>

</head>

<body>
<div class="wrapper" method="post">
    <form class="form-signin">
        <h2 class="form-signin-heading">Please login</h2>
        <input id="login" type="text" class="form-control" placeholder="Email Address" required="" autofocus="" />
        <input id="password" type="password" class="form-control" placeholder="Password" required=""/>
        <label class="checkbox">
            <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
        </label>
        <button id="login_btn" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
</div>

<script type="text/javascript" src="/static/common/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/auth/js/auth.js">
</script>

</body>
</html>
{{end}}