{{define "registration"}}
<html>
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
    <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/static/registration/css/styleRegistr.css">
</head>
<body>
<div class="wrapper" method="post">
    <form class="form-signin">
        <h2 class="form-signin-heading">Registration</h2>
        <input id="login" type="text" class="form-control" placeholder="Email Address" required="" autofocus="" />
        <input id="password" type="password" class="form-control" placeholder="Password" required=""/>
        <label class="checkbox">
            <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
        </label>
        <buttin id="reg_btn" class="btn btn-lg btn-primary btn-block" type="submit">Register</buttin>
    </form>
</div>

<script type="text/javascript" src="/static/common/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/registration/js/registr.js">
</script>
</body>
</html>
{{end}}