{{define "registration"}}
<html>
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/static/registration/css/styleRegistr.css">
</head>
<body>
<!-- Modal -->
<div class="modal fade" id="fail_modal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Warning</h4>
            </div>
            <div class="modal-body">
                <p>Invalid data</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="suc_modal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Success</h4>
            </div>
            <div class="modal-body">
                <p>Valid data</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="wrapper" method="post">
    <form class="form-signin">
        <h2 class="form-signin-heading">Registration</h2>
        <input id="login" type="text" class="form-control" placeholder="Email Address" required="" autofocus="" />
        <input id="password" type="password" class="form-control" placeholder="Password" required=""/>
        <buttin id="reg_btn" class="btn btn-lg btn-primary btn-block" type="submit">Registration</buttin>
    </form>
</div>

<script type="text/javascript" src="/static/common/js/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/registration/js/registr.js">
</script>
</body>
</html>
{{end}}